{% extends 'base.html' %}

{% block main %}
    <main>
        <section class="container-fluid enable-rounded">
            <h1>spotify-to-csv-export-webapp</h1>
            <p>Spotify cant save a user's music library. This application implements this missing feature.</p>

            <h3>How it works?</h3>
            <ol>
                <li>
                    After you click "Sign in with Spotify" -> redirect to Spotify account service login page.<br>
                    * application require access to your Spotify account to see your library.
                </li>
                <li>
                    If the security check is passed and access is granted -> redirect to the page with your Spotify library.<br>
                    * application receives your access token, which is stored for ~7 days or can be deleted once you "sign out".
                </li>
                <li>
                    After clicking on "sign out" -> the access token is deleted.
                </li>
            </ol>

            <h3>Used scopes:</h3>
            <ul>
                <li>
                    user-read-private: to get Spotify userid and username
                </li>
                <li>
                    user-library-read: to read the spotify user's library
                </li>
                <li>
                    playlist-read-collaborative: for reading collaborative playlists
                </li>
                <li>
                    playlist-read-private: to read private playlists
                </li>
            </ul>

            <p>If you want to see sourcecode, check <a href="https://github.com/egliorn/spotify-to-csv-export-webapp">project GitHub page</a>.</p>
            <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">return to home page</a>
        </section>
    </main>
{% endblock %}