{% extends '_layout.html' %}

{% block header %}
    <header class="mb-auto">
        <div class="d-flex justify-content-between">
            <a class="link-light text-decoration-none" href="https://github.com/egliorn/spotify-to-csv-export-webapp">
                <i class="bi bi-github"></i> spotify-csv-export-webapp
            </a>
            <nav class="nav nav-masthead">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">EN</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">RU</a>
            </nav>
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="text-center px-3">
        <section>
            <h1>Spotify -> CSV export</h1>
            <p class="lead">Export your Spotify playlists to .csv</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('auth.login') }}" class="btn btn-success fw-bold">Sign in with Spotify</a>
                <a href="https://github.com/egliorn/spotify-csv-export-webapp#readme" class="btn btn-outline-light fw-bold">What is this?</a>
            </div>
        </section>
    </main>
{% endblock %}


{% block footer %}
    <footer class="mt-auto text-center">
        {# errors #}
        <section>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class=flashes>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <div class="">{{ message }}</div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </section>

        <p class="text-white-50">
            by
            <a href="https://github.com/egliorn" class="text-white">@egliorn</a>
        </p>
    </footer>
{% endblock %}
